.task-list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.task-list-left {
	width: 50%;
	height: 700px;
	background-image: url("../images/oriol-portell-AbwqpFnBDms-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 8px;
}

.task-list-right {
	width: 50%;
	min-height: 400px;
	margin-left: -200px;
}

.task-list-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 18px;
	border: 1px white solid;
	border-radius: 8px;
	background-color: rgba(232, 186, 60, 0.866);
}

.task-list-header {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	color: rgb(122, 137, 6);
}

.task-list-input {
	border-radius: 8px;
	border: rgb(239, 212, 10) 1px solid;
	padding: 8px;
	margin: 10px;
	width: 75%;
	box-shadow: 0 0 0.2em 0 rgb(85, 77, 14);
	font-size: 15px;
	text-align: center;
}

input[type="checkbox"] {
	accent-color: rgb(75, 150, 21);
}

.task-list-btn {
	box-sizing: border-box;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-decoration: none;
	border: rgb(136, 121, 9) 2px solid;
	border-radius: 8px;
	width: 100%;
	position: relative;
	background: var(--clr-bg);
	color: rgb(85, 54, 7);
	font-size: 15px;
	text-shadow: 0 0 0.125em rgb(255, 255, 255);
	box-shadow: inset 0 0 0.1em 0, 0 0 0.1em 0;
}

.task-list-btn::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 1em 0.1em rgba(150, 211, 7, 0.78);
	opacity: 0;
	background-color: rgba(146, 190, 12, 0.561);
	transition: opacity 100ms linear;
}

.task-list-btn:hover::after {
	opacity: 0.5;
}

.task-list-remainders {
	padding: 1rem;
	color: rgb(174, 112, 19);
	font-size: 16px;
}
