.task-wrapper {
	display: flex;
	align-items: flex-start;
	margin-left: 10%;
	width: 100%;
	height: 3vh;
	width: 15vw;
}

input[type="checkbox"] {
	accent-color: rgb(75, 150, 21);
	margin-right: 8px;
	margin-top: 3px;
}
