.wrapper {
	display: block;
	padding-left: 3rem;
	padding-top: 1rem;
	width: 50%;
	margin: 0 auto;
}

.red {
	background: rgb(22, 7, 235);
}

.element-container {
	margin: 0 auto;
	width: 50%;
}

.element {
	display: inline-flex;
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-right: none;
	cursor: pointer;
}

.element:last-child {
	border-right: 1px solid;
}

.button-container {
	margin: 0 auto;
	width: 50%;
}

.button-ind {
	margin-right: 5px;
	padding: 5px;
}
