* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Italiana", serif;
	font-family: "Roboto", sans-serif;
}

.app-nav {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.nav-wrapper {
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s;
}

.nav-wrapper a {
	color: #1e3d58;
	text-decoration: none;
	transition: color 0.2s;
}

.nav-wrapper:hover {
	border-bottom: 1px solid #738580;
}

.nav-wrapper a:hover {
	color: #738580;
}
