.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
	margin-left: 1em;
}

.home-header {
	font-size: 1.5rem;
	font-weight: 800;
	text-decoration: underline gray;
	padding-right: 1rem;
}

.home-link-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 19px;
}

.home-link {
	padding: 1.5rem;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
	text-decoration: none;
	height: 10px;
	color: black;
}

.home-link:hover {
	border-bottom: 1px solid #a6a6a6;
	color: #a6a6a6;
	transition: color 0.5s;
}

.home-link a:hover {
	color: #a6a6a6;
}
